<div>
    LOGIN
</div>
<br>
<form [formGroup]="formLogin" (ngSubmit)="Login()">
    <div>
        <label>Usuario</label>
        <input type="text" formControlName="username">
    </div>
    <br>
    <div>
        <label>Contraseña</label>
        <input type="password" formControlName="password">
    </div>
    <br>
    <div>
        <button mat-raised-button color="red" type="submit">
            Iniciar Sesión
        </button>
        <br>
        <br>
        <button mat-flat-button color="primary">Hola</button>
    </div>
</form>