.popup-title {
    font-size: 1.8rem;
    text-align: left;
}

.popup-message {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.popup-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.popup-button {
    margin-top: 1rem;
    text-transform: uppercase;
    outline: none;
    margin-left: 1%;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: rgb(11, 187, 236);
    width: 160px;
    height: 40px;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
}