.module-title {
    padding-top: 1rem;
}

.outer-box {
    margin: 0.5rem auto;
    text-align: center;
    width: 12.5rem;
    background: #009bee;
    color: white;
    border-radius: 0.8rem;
    overflow: hidden;
}