<div class="container">
  <mat-table [dataSource]="dataSource" (scroll)="onTableScroll($event)">

      <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef [ngClass]="'mat-column-username'"> UserName </mat-header-cell>
    <mat-cell *matCellDef="let user" [ngClass]="'mat-column-username'"> {{user.userName}} </mat-cell>
  </ng-container>

      <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef [ngClass]="'mat-column-name'"> Name </mat-header-cell>
    <mat-cell *matCellDef="let user" [ngClass]="'mat-column-name'"> {{user.firstName}} {{user.lastName}} </mat-cell>
  </ng-container>

      <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef [ngClass]="'mat-column-email'"> Email </mat-header-cell>
    <mat-cell *matCellDef="let user" [ngClass]="'mat-column-email'"> {{user.email}} </mat-cell>
  </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></mat-row>

  </mat-table>
</div>
