<div class="customers-edit-container">
    <mat-toolbar class="head-toolbar">
        <mat-toolbar-row>
            <button mat-button matTooltip="{{ 'head-toolbar.button_back' | translate }}" (click)="backButtonClick()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <div class="outer-box">
                <h1 class="module-title">{{ 'customers.title' | translate }}</h1>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <form class="customer-form" [formGroup]="formCustomer">
        <div class="div-fields">
            <mat-form-field class="firstname-field" appearance="fill" mat-form-fieldAutoSize>
                <mat-label>{{ 'customers.forms.firstname' | translate }}</mat-label>
                <input type="text" matInput formControlName="firstName" required matTextareaAutosize>
            </mat-form-field>
            <mat-form-field class="lastname-field" appearance="fill" mat-form-fieldAutoSize>
                <mat-label>{{ 'customers.forms.lastname' | translate }}</mat-label>
                <input type="text" matInput formControlName="lastName" required matTextareaAutosize>
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'customers.forms.iddocumenttype' | translate }}</mat-label>
                <mat-select class="mat-select" hideSingleSelectionIndicator="true"
                    (selectionChange)="onChangeIdDocumentTypes($event)" [value]="selectedIdDocumentTypeId">
                    <mat-option class="mat-options" *ngFor="let option of idDocumentTypes" [value]="option.id">{{
                        option.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="iddocumentnumber-field" appearance="fill" mat-form-fieldAutoSize>
                <mat-label>{{ 'customers.forms.iddocumentnumber' | translate }}</mat-label>
                <input type="text" matInput formControlName="idDocumentNumber" required matTextareaAutosize>
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field class="street-field" appearance="fill" mat-form-fieldAutoSize>
                <mat-label>{{ 'customers.forms.street' | translate }}</mat-label>
                <input type="text" matInput formControlName="street" required matTextareaAutosize>
            </mat-form-field>
            <mat-form-field class="city-field" appearance="fill" mat-form-fieldAutoSize>
                <mat-label>{{ 'customers.forms.city' | translate }}</mat-label>
                <input type="text" matInput formControlName="city" required matTextareaAutosize>
            </mat-form-field>
            <mat-form-field class="postalcode-field" appearance="fill" mat-form-fieldAutoSize>
                <mat-label>{{ 'customers.forms.postalcode' | translate }}</mat-label>
                <input type="text" matInput formControlName="postalCode" required matTextareaAutosize>
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field class="state-field" appearance="fill" mat-form-fieldAutoSize>
                <mat-label>{{ 'customers.forms.state' | translate }}</mat-label>
                <input type="text" matInput formControlName="state" required matTextareaAutosize>
            </mat-form-field>
            <mat-form-field class="country-field" appearance="fill" mat-form-fieldAutoSize>
                <mat-label>{{ 'customers.forms.country' | translate }}</mat-label>
                <input type="text" matInput formControlName="country" required matTextareaAutosize>
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field class="phone-field" appearance="fill" mat-form-fieldAutoSize>
                <mat-label>{{ 'customers.forms.phone' | translate }}</mat-label>
                <input type="tel" matInput formControlName="phone" required matTextareaAutosize>
            </mat-form-field>
            <mat-form-field class="email-field" appearance="fill" mat-form-fieldAutoSize>
                <mat-label>{{ 'customers.forms.email' | translate }}</mat-label>
                <input type="email" matInput formControlName="email" required matTextareaAutosize>
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button class="button-save" color="primary" mat-button
                matTooltip="{{ 'shared.buttons.save_tooltip' | translate }}" (click)="saveButtonClick()"
                [disabled]="formCustomer.invalid">{{ 'shared.buttons.save' | translate }}</button>
        </div>
    </form>
</div>