mat-toolbar {
  background: #009bee;
  color: white;
}

mat-icon {
  padding-right: 8px;
}

.flex-expand {
  flex: 1 1 auto;
}

.navmenu-about {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: transparent;
}