<mat-toolbar>
  <mat-toolbar-row>
    <button mat-mini-fab class="button-menu" matTooltip="Show/Hide Navigation Bar" (click)="toggleSidenavClick(sidenav)">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="flex-expand"></span>
    <h1>SimplexInvoiceApp</h1>
    <span class="flex-expand"></span>
    <button mat-button matTooltip="Login" (click)="loginButtonClick()">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="mat-sidenav-container" autosize>
  <mat-sidenav #sidenav class="mat-elevation-z8" opened="true" mode="side">
    <mat-list-item>
      <button mat-button (click)="homeButtonClick()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button (click)="usersButtonClick()">
        <mat-icon>person</mat-icon>
        <span>Users</span>
      </button>
    </mat-list-item>
    <mat-divider class="navmenu-about"></mat-divider>
    <mat-list-item>
      <button mat-button (click)="aboutButtonClick()">
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>
    </mat-list-item>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>