.nav-menu {
  display: block;
}
mat-toolbar {
  background: #009bee;
  color: white;
}

mat-icon {
  padding-right: 1rem;
}

.flex-expand {
  flex: 1 1 auto;
}

.mat-select {
  max-width: 5rem;
}

.mat-options {
  font-size: 0.9rem;
}

#about-button {
  margin-right: 2rem;
}
