<mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>UsersAngular</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="mat-sidenav-container">
    <mat-sidenav #sidenav class="mat-elevation-z8" opened="true">
      <button mat-button (click)="homeButtonClick($event)">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button (click)="usersButtonClick($event)">
        <mat-icon>person</mat-icon>
        <span>Users</span>
      </button>
      <button mat-button (click)="aboutButtonClick($event)">
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button (click)="helpButtonClick($event)">
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>