.home-container {
  padding-top: 0.5rem;
}

.module-title {
  padding-top: 0.5rem;
}

.outer-box {
  margin: 1rem auto;
  text-align: center;
  width: 12rem;
  height: 3rem;
  background: #009bee;
  color: white;
  border-radius: 0.8rem;  
}

.boundary {
  width: 98%;
  height: 98%;
  max-width: 98%;
}

.users-box {
    width: 50rem;
    height: 18rem;
    padding: 0.625rem;
    box-sizing: border-box;
    border: solid 0.1rem #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: block;
    text-align: center;
    background: #fff;
    border-radius: 0.2rem;
    position: relative;
    left: 1rem;
    top: -4rem;    
  }

  .title-last-users {
    font-weight: bold;
  }
    
  .users-handle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #ccc;
    cursor: move;
    width: 2rem;
    height: 2rem;
  }

  .container {
    text-align: left;
    padding: 1rem;
}

.mat-table {
    vertical-align: top;
    overflow: auto;
    background-color: transparent;
}

table {
    width: 100%;
}

.mat-column-email {
    word-wrap: break-word;
    white-space: unset;
    width: 40%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.mat-column-firstname {
    word-wrap: break-word;
    white-space: unset;
    width: 30%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.mat-column-lastname {
  word-wrap: break-word;
  white-space: unset;
  width: 30%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}