mat-toolbar {
    background: #009bee;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #009bee;
    color: white;
    border-radius: 20px;
    padding: 16px;
    text-align: left;
}

mat-icon {
    padding-right: 8px;
}

.flex-expand {
    flex: 1 1 auto;
}

.content {
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    height: 90%;
    /*width: calc(100vw * 0.88);*/
    height: calc(100vh * 0.86);
    font-size: 1rem;
    color: lightgray;
}

.mat-sidenav-container {
    height: calc(100vh * 0.9);
    flex: 1;
}