.iddocumenttypes-edit-container {
    padding: 1rem;
}

.flex-expand {
    flex: 1 1 auto;
}

.mat-toolbar-row {
    justify-content: flex-end;
    background-color: #FAFAFA;
}

.iddocumenttype-form {
    vertical-align: top;
    text-align: left;
    width: 98%;
    height: 98%;
}

.div-fields {
    margin-top: 40px;
    margin-left: 40px;
}

mat-label {
    color: blue;
}

mat-form-field.password-field {
    padding-right: 1rem;
}

mat-form-field.firstname-field {
    padding-right: 1rem;
}

.iddocumenttype-form input {
    width: fit-content;
    color: green;
}

.button-save {
    margin-left: 40px;
    margin-top: 20px;
    cursor: pointer;
}

mat-divider {    
    width: 100%;
    padding: 2px;
    color: transparent;
    border: 1px;
}