.search-box {
    background: #fff;
    border-radius: 0.2rem;
    border: solid 0.1rem #ccc;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    height: 18rem;
    overflow: auto;
    padding: 0.625rem;
    position: absolute;
    text-align: center;
    width: 45rem;
    z-index: 10;
}

.search-handle {
    color: #ccc;
    cursor: move;
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.search-close {
    color: #ccc;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.input-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    border-radius: 1rem;
    outline: solid 2px #ccc;
    position: relative;
    width: 30rem;
    height: 3rem;
}

.input-container label {
    color: blue;
    position: relative;
    transform: scale(0.75);
}

#inputsearch:focus {
    color: green;
    top: -10rem;
    margin-top: -2.5rem;
    outline: none;
    border: none;
    margin-left: 0.5rem;
    width: 28rem;
}

#inputsearch {
    margin-top: -1.5rem;
    outline: none;
    border: none;
    margin-left: 0.5rem;
    width: 28rem;
}

.search-list-container {
    display: flex;
}

.search-item {
    display: flex;
}

.search-item-field {
    margin-right: 1rem;
}