<br>
<form class="login-form" [formGroup]="formLogin" (ngSubmit)="Login()">
    <h1>Sign In</h1>
    <mat-form-field appearance="fill" mat-form-fieldAutoSize>
        <mat-label>Usuario</mat-label>
        <input type="text" matInput formControlName="username" matTextareaAutosize required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput formControlName="password" required>
    </mat-form-field>
    <mat-error *ngIf="formLoginError.length > 0">
        {{formLoginError}}
    </mat-error>
    <br>
    <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="formLogin.invalid"> Iniciar Sesión</button>
    </div>
</form>
