.login-form {
  text-align: center;
  min-width: 300px;
  max-width: 60%;
  margin: auto;
  color: rgba(0, 0, 0, 0.676);
}

.login-form input {
  color: green;
}

.login-form button {
  width: 70%;
  height: 3rem;
}

.login-form button:disabled {
  width: 70%;
  height: 3rem;
}
