.taxrates-view-container {
    padding: 1rem;
}

.flex-expand {
    flex: 1 1 auto;
}

.mat-toolbar-row {
    background-color: #FAFAFA;
}

.taxrate-form {
    vertical-align: top;
    text-align: left;
    width: 98%;
    height: 98%;
}

.div-fields {
    margin-top: 2.5rem;
    margin-left: 2.5rem;
}

mat-label {
    color: blue;
}

.name-field {
    padding-right: 1rem;
}

.taxrate-form input {
    width: fit-content;
    color: green;
}

mat-divider {    
    width: 100%;
    padding: 0.125rem;
    color: transparent;
    border: 0.063rem;
}